@page "/admin"
@rendermode InteractiveServer
@using NutritionApp.Controllers
@using NutritionApp.Models
@using NutritionApp.Services
@inject NavigationManager Nav
@inject SessionService Session

<div style="text-align:center; margin-top:50px;">

    <h3>Admin Panel</h3>
    <p>Welcome, @Session.CurrentUser.FullName</p>

    <button @onclick="GoToUsers">Manage Users</button>
    <button @onclick="GoToProducts">Manage Products</button>
    <button @onclick="GoToAdminStats">Global Statistics</button>
    <button @onclick="Logout">Logout</button>

</div>

@code {
    private void GoToUsers() => Nav.NavigateTo("/adminusers");
    private void GoToProducts() => Nav.NavigateTo("/adminproducts");
    private void GoToAdminStats() => Nav.NavigateTo("/adminstats");
    private void Logout() => Nav.NavigateTo("/");
}